*{
    box-sizing: border-box;
    
}

h1{
    text-align: center;
}

section{
    float: left;
    width: 25%;
    margin: 4%;
    height: auto;
    border: 1px solid black;
    background-color: rgb(158, 152, 152);
    
}

.chicken,.beef,.sushi{
    padding: 20px;
    position: relative;
}

.title{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 0 40px;
    
}

.content{
    padding-top: 10px;
}

.chicken .title{
    background-color: red;
}

.beef .title{
    background-color: chocolate;
}

.sushi .title{
    background-color: cyan;
}

@media (min-width: 768px) and (max-width: 991px){
    section{
        width: 40%;
    }
    .third{
        width: 88%;
    }
}

@media (max-width: 767px){
    section{
        width: 88%;
    }
}